<div id="{{idReferencia}}" class="carousel slide">
    <div class="carousel-inner">
        <div *ngFor="let cuader of cuaderno; let i = index" class="carousel-item {{ i+1===1? 'active':''}}">
            <p class="text-light">{{cuader.descripcionPagina}}</p>
            <img src="/assets/{{cuader.ruta}}" class="img-fluid" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#'+[idReferencia]"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#'+[idReferencia]"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

