<div class="bg-dark">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1 class="text-light text-center mt-4 f-shadow-into-l fs-60">CUARTO 3</h1>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li *ngFor="let mater of materias; let i = index" class="nav-item" role="presentation" >
					<button class="nav-link {{ i+1===1? 'active':''}} f-open-sans-c fs-25" id="profile-tab" data-bs-toggle="tab" [attr.data-bs-target]="'#' + mater.id"
						type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">{{ mater.nombre }}</button>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="arit" role="tabpanel" aria-labelledby="profile-tab"
					tabindex="0">
					<app-cuaderno [cuaderno]="aritmetica" [idReferencia]="'aritmetica'"></app-cuaderno>
				</div>

				<div class="tab-pane fade" id="art" role="tabpanel" aria-labelledby="profile-tab"
					tabindex="0">
					<app-cuaderno [cuaderno]="artistica" [idReferencia]="'artistica'"></app-cuaderno>
				</div>

				<div class="tab-pane fade" id="cast" role="tabpanel" aria-labelledby="profile-tab"
					tabindex="0">
					<app-cuaderno [cuaderno]="castellano" [idReferencia]="'castellano'"></app-cuaderno>
				</div>

				<div class="tab-pane fade" id="efi" role="tabpanel" aria-labelledby="contact-tab"
					tabindex="0">
					<app-cuaderno [cuaderno]="edufisica" [idReferencia]="'edufisica'"></app-cuaderno>
				</div>
				
<!-- 				<div class="tab-pane fade" id="emp" role="tabpanel" aria-labelledby="contact-tab"
					tabindex="0">
					<app-cuaderno [cuaderno]="emprendimiento" [idReferencia]="'emprendimiento'"></app-cuaderno>
				</div> -->

				<div class="tab-pane fade" id="esta" role="tabpanel" aria-labelledby="contact-tab"
					tabindex="0">
					<app-cuaderno [cuaderno]="estadistica" [idReferencia]="'estadistica'"></app-cuaderno>
				</div>



 				<div class="tab-pane fade" id="etic" role="tabpanel" aria-labelledby="contact-tab"
					tabindex="0">
					<app-cuaderno [cuaderno]="etica" [idReferencia]="'etica'"></app-cuaderno>
				</div>

 				<div class="tab-pane fade" id="geo" role="tabpanel" aria-labelledby="contact-tab"
					tabindex="0">
					<app-cuaderno [cuaderno]="geometria" [idReferencia]="'geometria'"></app-cuaderno>
				</div>

	<!--			<div class="tab-pane fade" id="ing" role="tabpanel" aria-labelledby="contact-tab"
					tabindex="0">
					<app-cuaderno [cuaderno]="ingles" [idReferencia]="'ingles'"></app-cuaderno>
				</div>
	-->
	
				<div class="tab-pane fade" id="nat" role="tabpanel" aria-labelledby="contact-tab"
					tabindex="0">
					<app-cuaderno [cuaderno]="naturales" [idReferencia]="'naturales'"></app-cuaderno>
				</div>
	<!--

				<div class="tab-pane fade" id="relig" role="tabpanel" aria-labelledby="contact-tab"
					tabindex="0">
					<app-cuaderno [cuaderno]="religion" [idReferencia]="'religion'"></app-cuaderno>
				</div> -->
				<div class="tab-pane fade" id="soc" role="tabpanel" aria-labelledby="contact-tab"
					tabindex="0">
					<app-cuaderno [cuaderno]="sociales" [idReferencia]="'sociales'"></app-cuaderno>
				</div> 
				
				<div class="tab-pane fade" id="tec" role="tabpanel" aria-labelledby="contact-tab"
					tabindex="0">
					<app-cuaderno [cuaderno]="tecnologia" [idReferencia]="'tecnologia'"></app-cuaderno>
				</div> 
			</div>


		</div>
		<div class="col-md-1"></div>
	</div>
	
</div>